.PlaybackPlan {
  text-align: center;
}

.PlaybackPlanLogo {
  height: 40vmin;
  pointer-events: none;
}

.PlaybackPlanHeader {
  background-color: #211825;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PlaybackPlanSelect {
  background-color: white;
}

.PlaybackPlanLink {
  color: #61dafb;
}

.PlaybackPlanTextField {
  margin-top: 1rem!important;
  background-color: #0F0F0F!important;
}

.PlaybackPlanButton {
  margin-top: 3rem!important;
  background-color: #B100FF!important;
  color: white!important;
}

.PlaybackPlanButton2 {
  margin-top: 1.7rem!important;
  background-color: #B100FF!important;
  color: white!important;
}

@keyframes PlaybackPlanLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}