.SongSelection {
  text-align: center;
}

.SongSelection-logo {
  height: 40vmin;
  pointer-events: none;
}

.SongSelection-header {
  background-color: #211825;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SongSelection-link {
  color: #61dafb;
}

@keyframes SongSelection-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
