.SongSelectionBody {
  background-color: #211825;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SongSelectionPlaylistSelect {
  background-color: white;
}

.SongSelectionLink {
  color: #61dafb;
}

.SongSelectionButton {
  margin-top: 3rem!important;
  background-color: #B100FF!important;
}

@keyframes SongSelectionLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}